body {
  font-size: 20px;
  font-family: 'Arial',sans-serif;
  word-wrap: break-word;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0 auto;
  padding: 0;
}

h3 {
  text-align: center;
}

input {
  font-size: 0.75em;
  border: 1px solid #000;
}

ol{
  margin: 0 auto;
}

header {
  margin-bottom: 1em;
}

main {
  width: 50%;
  margin: 0 auto;
}

footer {

}

label {
  font-size: 0.75em;
}

.step {
  margin-bottom: 1.2em;
}

.note {
  font-size: 0.65em;
  font-style: italic;
  color: red;
}

.matches span {
  background-color: yellow;
}

#result {
  font-size: 0.75em;
  background-color: #eee;
  border-radius: 5px;
  padding: 0.5em;
  border: 1px solid #000;
}

#result > div {
  margin-bottom: 0.5em;
}

#result > div:last-child {
  margin-bottom: 0;
}

#result span {
  font-weight: bold;
}

#txt {
  text-align: center;
  width: 20em;
}

.input{
  text-align: center;
  width: 10em;
}
